.wraper{
    width: 400px;
    border: 1px solid black;
    padding: 10px;
}
.labelTitle{
    margin-top: 20px;
    display: block;

}
.inputText{
    margin-top: 5px;
    background-color: transparent;
    border: solid 1px black;
}

.btnSubmit{
    display: block;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8%;
    cursor: pointer;
}
.btnSubmit:hover{
    background-color: rgb(74, 131, 238);
    color: white;
   border-color: transparent;
}